{% extends "accounts/layout.html" %}

{% block body %}

    <h2>Register</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}
    <form action="{% url 'accounts:register' %}" method="post">
        {% csrf_token %}
         <div>
        <select name="user_type">
        <option value="CUSTOMER">Customer</option>
        <option value="PROVIDER">Provider</option>
      </select>
      </div>
        <div class="form-group">
            <input  autofocus type="text" name="username" placeholder="Username">
        </div>
        <div class="form-group">
            <input type="email" name="email" placeholder="Email Address">
        </div>
        <div class="form-group">
            <input  type="password" name="password" placeholder="Password">
        </div>
        <div class="form-group">
            <input  type="password" name="confirmation" placeholder="Confirm Password">
        </div>
        <input type="submit" value="Register">
    </form>

    Already have an account? <a href="{% url 'accounts:login_view' %}">Log In here.</a>

{% endblock %}